<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">

<head>
<meta charset="UTF-8" />
<meta
	content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'
	name='viewport' />
<title>Car Mangement</title>


</head>
<body>
	<section layout:fragment="subhead" class="content-header">
		<h1>
			ส่วนการจัดการ รถ<small>การค้นหาและจัดการ</small>
		</h1>
	</section>
	<section layout:fragment="content">

		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<table id="cartable" class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>เลขทะเบียน</th>
								<th>หมายเลขตัวถัง</th>
								<th>วันที่จดทะเบียน</th>
							</tr>
						</thead>
						<tbody>
						</tbody>

					</table>
				</div>

			</div>
		</div>

	</section>

	<div layout:fragment="script">
		<script type="text/javascript">
		
			$(document).ready(function() {

				var dataTable = $("#cartable").dataTable({
					"bServerSide" : true,
					"bProcessing": true,
			        "sAjaxSource" : "car_dt",
					 aoColumns : [
					              { data : 'registerNumber' },
					              { data : 'chassis' },
					              { data : 'registerDate'}
					              ]
					 
				});		

			});
		</script>
	</div>


</body>

</html>
