<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">

<head>
<meta charset="UTF-8" />
<meta
	content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'
	name='viewport' />
<title>Car Mangement</title>


</head>
<body>
	<section layout:fragment="subhead" class="content-header">
		<h1>
			ส่วนการจัดการ รถ<small>การค้นหาและจัดการ</small>
		</h1>
		<br/>
		<b>คำแนะนำการใช้งาน</b>
		<ul>
		
		<li>ข้อมูลเรียงลำดับตามที่เพิ่มเข้าไปล่าสุด</li>
		<li>การค้นหาสามารถค้นหาได้โดย เลขทะเบียนรถเป็นหลัก</li>
		<li>หากต้องการดูข้อมูลแบบละเอียด กดปุ่มด้านขวามือ</li>
		</ul>
	</section>
	<section layout:fragment="content">

		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<div class="box">
					<table id="cartable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"  width="100%" >
						<thead>
							<tr>
								<th>เลขทะเบียน</th>
							    <th>วันที่จดทะเบียน</th>
								<th>หมายเลขตัวถัง</th>

								<th></th>
							</tr>
						</thead>
						<tbody style="text-align: center">
						</tbody>

					</table>
				</div>

			</div>
		</div>
		
		
		<!-- Modal -->
		
		<div class="modal" id="modal">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">ข้อมูลรถโดยละเอียด</h4>
                  </div>
                  <div id="modal-body" class="modal-body">
                    <p>One fine body…</p>
                  </div>
                  <!--  >div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">ปิดหน้าต่าง</button>
                  </div -->
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div>

	</section>

	<div layout:fragment="script">
		<script type="text/javascript">
		
			$(document).ready(function() {

				var dataTable = $("#cartable").dataTable({
					"bServerSide" : true,
					responsive : true,
					"bSort" : false,
					"bProcessing": true,
			        "sAjaxSource" : "car_dt",
					 aoColumns : [
					              { data : 'registerNumber' },
					              { mRender : function(data, type, full){
					            	  return convertDateToShow(full.registerDate);
					              }},
					              { data : 'chassis' },
					              { mRender : function(data,type,full){
					            	  return '<button class="btn btn-app" data-action="carinfo" data-key="'+full.id+'"><i class="fa fa-info-circle"></i>แสดงแบบละเอียด</button>';
					              }}
					              	
					              ],
			    language: {
			      "lengthMenu": "แสดง _MENU_ รายการ ต่อ หน้า",
			      "zeroRecords": "ไม่พบ - ขอภัย",
			      "info": "กำลังแสดงpage _PAGE_ จาก _PAGES_",
			      "infoEmpty": "ไม่พบผลลัพธ์....",
			      "infoFiltered": "(กรอง จาก _MAX_ รายการ)",
			      "search":         "ค้นหา:",
			      "paginate": {
			        "first":      "หน้าแรก",
			        "last":       "หน้าสุดท้าย",
			        "next":       "ถัดไป",
			        "previous":   "ก่อนหน้า"
			      }
			    }
				});		
				
				// Blinding event to button on datatables
				$("#cartable").on('click','button',function(){
					var key =$(this).data('key');
					var action =$(this).data('action');
					if( action == 'carinfo'){
						console.log('button getCarInfo was clicked');
						$.ajax({
							method:"GET",
							url : "getCarInfo?key="+key,
						}).success(function(data){
							$('#modal-body').html(data);
							$('#modal').modal('show')
							$("#dl").attr("download",$('#regisNumber').html() + '.png');
						});	

					}			
		
				});
				
				$('#modal-body').on('click','button',function(){
					if($(this).data('action') == 'printbtn'){
						pwin = window.open(document.getElementById("img-doc").src,"_blank");
						pwin.onload = function () {window.print()};
					}					
				});
				

			});
			
			
		</script>
		
		

	</div>


</body>

</html>
